header {
    background-color:#2E948A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 3%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header a img {
    height: 4rem;
    width: auto;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-header {
    padding-left: 1rem;
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 700;
}
/* Footer */

footer {
    background-color:#2E948A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 3%;
    justify-content: space-between;
}

footer a img {
    height: 4rem;
    width: auto;
}

.nav1{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav2{
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}